@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --gradient-primary: linear-gradient(
    to right,
    #1a1726 4%,
    #2a214a 47%,
    #262237 70%,
    #1a1726 97%
  );
  --bg-marquee:  rgba(9, 20, 39, 0.6);

  --font-gabaritoreguler: GabaritoRegular;
  --font-gabaritomedium: GabaritoMedium;
  --font-gabaritobold: GabaritoBold;
  --font-gabaritosemibold: GabaritoSemiBold;
  --fontgabaritoextrabold: GabaritoExtraBold;
  --font-gabaritoblack: GabaritoBlack;
  --font-tagesschriftreguler: TagesschriftReguler;
  --font-family: GabaritoRegular, GabaritoMedium, GabaritoSemiBold,
    GabaritoExtraBold, GabaritoBlack, GabaritoBold, TagesschriftReguler,
    sans-serif;
  --animate-spotlight: spotlight 2s ease 0.75s 1 forwards;
}

@font-face {
  font-family: GabaritoRegular;
  src: url(/font/Gabarito-Regular.ttf) format("truetype");
}

@font-face {
  font-family: GabaritoMedium;
  src: url(/font/Gabarito-Medium.ttf) format("truetype");
}

@font-face {
  font-family: GabaritoBold;
  src: url(/font/Gabarito-Bold.ttf) format("truetype");
}

@font-face {
  font-family: GabaritoSemiBold;
  src: url(/font/Gabarito-SemiBold.ttf) format("truetype");
}

@font-face {
  font-family: GabaritoExtraBold;
  src: url(/font/Gabarito-ExtraBold.ttf) format("truetype");
}

@font-face {
  font-family: GabaritoBlack;
  src: url(/font/Gabarito-Black.ttf) format("truetype");
}

@font-face {
  font-family: TagesschriftReguler;
  src: url(/font/Tagesschrift-Reguler.ttf) format("truetype");
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

.svg-filter {
  filter: invert(1) brightness(100%) contrast(100%);
}

body {
  background: var(--gradient-primary);
  font-family: GabaritoRegular, GabaritoMedium, GabaritoSemiBold,
    GabaritoExtraBold, GabaritoBlack, GabaritoBold, TagesschriftReguler,
    sans-serif;
  overflow-x: hidden;
}

.bg-marquee {
  background-color: var(--bg-marquee);
}
 
@keyframes spotlight {
  0% {
    opacity: 0;
    transform: translate(-72%, -62%) scale(0.5);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -40%) scale(1);
  }
}

@theme inline {
  --animate-first: moveVertical 30s ease infinite;
  --animate-second: moveInCircle 20s reverse infinite;
  --animate-third: moveInCircle 40s linear infinite;
  --animate-fourth: moveHorizontal 40s ease infinite;
  --animate-fifth: moveInCircle 20s ease infinite;
 
  @keyframes moveHorizontal {
    0% {
      transform: translateX(-50%) translateY(-10%);
    }
    50% {
      transform: translateX(50%) translateY(10%);
    }
    100% {
      transform: translateX(-50%) translateY(-10%);
    }
  }
 
  @keyframes moveInCircle {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(180deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
 
  @keyframes moveVertical {
    0% {
      transform: translateY(-50%);
    }
    50% {
      transform: translateY(50%);
    }
    100% {
      transform: translateY(-50%);
    }
  }
}